services:
  traefik:
    image: traefik:v3.6.2
    container_name: "traefik"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=proxy"
      - "--entryPoints.web.address=:80"
      # TLS
      - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
      - "--entryPoints.web.http.redirections.entryPoint.scheme=https"
      - "--entryPoints.websecure.address=:443"
      - "--entryPoints.websecure.http.tls=true"
      # Let's Encrypt configuration
      - "--certificatesresolvers.le.acme.email=${LETSENCRYPT_EMAIL}"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "letsencrypt:/letsencrypt"

  vikunja:
    image: vikunja/vikunja
    environment:
      # General
      VIKUNJA_SERVICE_PUBLICURL: ${VIKUNJA_PUBLIC_URL}
      VIKUNJA_SERVICE_JWTSECRET: ${JWT_SECRET}
      VIKUNJA_SERVICE_TIMEZONE: ${VIKUNJA_SERVICE_TIMEZONE}
      VIKUNJA_SERVICE_ENABLEPUBLICTEAMS: ${VIKUNJA_SERVICE_ENABLEPUBLICTEAMS}
      VIKUNJA_DEFAULTSETTINGS_DISCOVERABLE_BY_NAME: ${VIKUNJA_DEFAULTSETTINGS_DISCOVERABLE_BY_NAME}
      VIKUNJA_DEFAULTSETTINGS_DISCOVERABLE_BY_EMAIL: ${VIKUNJA_DEFAULTSETTINGS_DISCOVERABLE_BY_EMAIL}
      VIKUNJA_DEFAULTSETTINGS_WEEK_START: ${VIKUNJA_DEFAULTSETTINGS_WEEK_START}
      VIKUNJA_SERVICE_ENABLEOPENIDTEAMUSERSEARCH: ${VIKUNJA_SERVICE_ENABLEOPENIDTEAMUSERSEARCH}
      VIKUNJA_SERVICE_ALLOWICONCHANGES: ${VIKUNJA_SERVICE_ALLOWICONCHANGES}
      # Database
      VIKUNJA_DATABASE_HOST: ${DB_HOST}
      VIKUNJA_DATABASE_TYPE: ${DB_TYPE}
      VIKUNJA_DATABASE_USER: ${DB_USER}
      VIKUNJA_DATABASE_PASSWORD: ${DB_PASSWORD}
      VIKUNJA_DATABASE_DATABASE: ${DB_NAME}
      # Redis
      VIKUNJA_REDIS_ENABLED: "${REDIS_ENABLED}"
      VIKUNJA_REDIS_HOST: ${REDIS_HOST}
      # OpenID Connect / SSO
      VIKUNJA_AUTH_OPENID_ENABLED: "${OIDC_ENABLED}"
      VIKUNJA_AUTH_OPENID_PROVIDERS_GOOGLE_NAME: ${OIDC_PROVIDER_NAME}
      VIKUNJA_AUTH_OPENID_PROVIDERS_GOOGLE_AUTHURL: ${OIDC_AUTH_URL}
      VIKUNJA_AUTH_OPENID_PROVIDERS_GOOGLE_CLIENTID: ${OIDC_CLIENT_ID}
      VIKUNJA_AUTH_OPENID_PROVIDERS_GOOGLE_CLIENTSECRET: ${OIDC_CLIENT_SECRET}
      VIKUNJA_AUTH_LOCAL_ENABLED: ${VIKUNJA_AUTH_LOCAL_ENABLED}
    volumes:
      - files:/app/vikunja/files
      - ./assets:/app/vikunja/frontend/assets
    networks:
      - proxy
      - backend
    labels:
      - "traefik.enable=true"
      # Router
      - "traefik.http.routers.vikunja.rule=Host(\"${VIKUNJA_HOST_NAME}\")"
      - "traefik.http.routers.vikunja.entrypoints=websecure"
      - "traefik.http.routers.vikunja.service=vikunja"
      # Service
      - "traefik.http.services.vikunja.loadbalancer.server.port=3456"
      # TLS
      - "traefik.http.routers.vikunja.tls=true"
      - "traefik.http.routers.vikunja.tls.certresolver=le"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  redis:
    image: redis:7
    volumes:
      - redis-data:/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER"]
      interval: 2s
      start_period: 30s
    restart: unless-stopped

volumes:
  db-data:
  redis-data:
  files:
  letsencrypt:

networks:
  proxy:
    name: proxy
    driver: bridge
  backend:
    name: backend
    driver: bridge
